
/* generics */
* {
    box-sizing: border-box;
    margin: 0;
    bottom:0;
}

body {
    background-color: black;
    font-size: 14px;
    color: white;
}



/* header  */
header {
    height: 80px;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}

.speaker-tools > i {
    padding: 8px 5px;
    background-color: rgb(74, 74, 74);
    border-radius: 5px;
}

/* main  */
main {
    height: calc(100vh - 160px);
    overflow-y: auto;
}


.gallery-view {
    justify-content: center;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}


.gallery-view img {
    padding: 0 2px;
}


/* footer  */

footer {
    background-color: rgb(34, 34, 34);
    height: 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.tools {
    display: flex;
}

.tools i {
    padding: 10px 30px; 
}

.tools.center .fa-share-square {
    color: rgb(75, 200, 0);
} 

.tools.right {
    background-color: rgb(74, 74, 74);
}

.tools.right p {
    padding: 0 10px;
    align-self: center;
    color: rgb(255, 36, 57); 
}
